<html>
    <body>
    <p> webserver functionality still in beta! not all things have been implemented! </p>

        <h1>Configure RaspPi</h1>
        <form action="{{ url_for('configure_pi') }}" method="POST">
            <p>Enter in AP IP</p>
            <input name = "ipstring">
            <p>Enter in GS IP</p>
            <input name = "gsipstring">
            <p>Enter in Hostname</p>
            <input name = "hostname">
            <br>
            <input type = "submit" value = submit>
        </form>

        <br>
        <h1>Current throttle lmits</h1>
            <p>Maximum throttle PWM: {{tmax}}</p>
            <p>Limp mode throttle PWM: {{tlimp}}</p>
        <br>

        <h1>Configure throttle limits</h1>
        <form action="{{ url_for('configure_throttle') }}" method="POST">
            <p>Maximum throttle PWM</p>
            <input name = "thrmax">
            <p>Limp mode throttle PWM</p>
            <input name = "limp">
            <input type="submit">
        </form>
        <br>

        <h1>Calibrate throttle</h1>
        <form action="{{ url_for('calibrate') }}" method="POST">
		<input type="submit" value="Calibrate">
        </form>
        <br>

        <!-- <h2>Click Here to Download Telem Data (beta!) </h2>
        <form>
            <input type="button" onclick="window.location.href='http://192.168.100.101:5000/download';" value="Download" />
        </form>
        <br> -->

        <h2>Toggle Lights</h2>
        <p>Current light status: {{light_status}}</p>
        <form action="{{ url_for('light_on') }}" method="POST">
		<input type="submit" value="on">
        </form>
	<form action="{{ url_for('light_off') }}" method="POST">
		<input type="submit" value="off">
        </form>


        <h2>Pair Transmitter</h2>
        <form action="{{ url_for('pair') }}" method="POST">
		<input type="submit" value="Pair">
        </form>

        <h2>Change default boot mode</h2>
        <p>Current boot mode: {{bootsate}}</p>
        <form action="{{ url_for('set_auto') }}" method="POST">
            <input type="submit" value="auto">
        </form>
        <form action="{{ url_for('set_manual') }}" method="POST">
            <input type="submit" value="manual">
        </form>
    </body>
</html>
