<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    </head>
    <body>
        <h2>Configure RaspPi</h2>
        <form action="{{ url_for('configure_pi') }}" method="POST">
            <p>Enter in AP IP</p>
            <div class="group">
                <input type = "text" name = "ipstring" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>X.X.X.X</label>
            </div>
            <p>Enter in GS IP</p>
            <div class="group">
                <input type = "text" name = "gsipstring" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>X.X.X.X</label>
            </div>
            <p>Enter in Hostname</p>
            <div class="group">
                <input type = "text" name = "hostname" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Name</label>
            </div>
            <input type = "submit" value = Submit>
        </form>

        <h2>Current throttle lmits</h2>
            <p>Maximum throttle PWM: {{tmax}}</p>
            <p>Limp mode throttle PWM: {{tlimp}}</p>

        <h2>Configure throttle limits</h2>
        <p>Preset options:</p>
        <form action="{{ url_for('amy_throttle') }}" method="POST">
            <input type="submit" value="Amy">
        </form>
        <form action="{{ url_for('emily_throttle') }}" method="POST">
            <input type="submit" value="Emily">
        </form>
        <form action="{{ url_for('reckless_throttle') }}" method="POST">
            <input type="submit" value="Reckless">
        </form>
        <form action="{{ url_for('configure_throttle') }}" method="POST">
            <p>Maximum throttle PWM</p>
            <div class="group">
                <input type = "text" name = "thrmax" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>1500-2200</label>
            </div>
            <p>Limp mode throttle PWM</p>
            <div class="group">
                <input type = "text" name = "limp" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>1500-2200</label>
            </div>
            <input type="submit">
        </form>

        <h2>Calibrate throttle</h2>
        <form action="{{ url_for('calibrate') }}" method="POST">
		<input type="submit" value="Calibrate">
        </form>

        <!-- <h2>Click Here to Download Telem Data (beta!) </h2>
        <form>
            <input type="button" onclick="window.location.href='http://192.168.100.101:5000/download';" value="Download" />
        </form>
        <br> -->

        <h2>Toggle Lights</h2>
        <p>Current light status: {{lightstatus}}</p>
        <form action="{{ url_for('light_on') }}" method="POST">
		    <input type="submit" value="On">
        </form>
	    <form action="{{ url_for('light_off') }}" method="POST">
		    <input type="submit" value="Off">
        </form>

        <h2>Pair Transmitter</h2>
        <form action="{{ url_for('pair') }}" method="POST">
		    <input type="submit" value="Pair">
        </form>

        <h2>Change default boot mode</h2>
        <p>Current boot mode: {{bootstate}}</p>
        <form action="{{ url_for('set_auto') }}" method="POST">
            <input type="submit" value="Auto">
        </form>
        <form action="{{ url_for('set_manual') }}" method="POST">
            <input type="submit" value="Manual">
        </form>
    </body>
</html>
