<html>
<body>
    
    <img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,f_auto,q_auto:eco,dpr_1/v1489204175/xdhcrlehwv5epzho4k60.png" alt="An example image">

<h1>Configure RaspPi</h1>
</body>
<body>
    <form method = "POST" >
        <p>Enter in AP IP</p>
        <input name = "ipstring">
    
        <p>Enter in GS IP</p>
        <input name = "gsipstring">

        <p>Enter in Hostname</p>
        <input name = "hostname">
        <br>
        <input type = "submit">
    </form>

</body>
</html>